<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yatzy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icone_enervee"
        android:label="Yatzy!"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FinDePartie"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".EcranEdition"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Options"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PopOptions"
            android:theme="@style/AppTheme.PopOptions" />
        <activity
            android:name=".PopChoixCombi"
            android:theme="@style/AppTheme.PopOptions" />
        <activity
            android:name=".PopDes"
            android:theme="@style/AppTheme.PopDes" />
        <activity
            android:name=".MenuJouer"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EcranAccueil"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EcranJeu"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>